# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    env(MONGO_HOST): mongo
    env(MONGO_PORT): 27017
    env(MONGO_USER): user
    env(MONGO_PASSWORD): password
    env(MONGO_DB): eos
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
